In [1]:
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt

In [4]:
#Read the ods File
path = "../static/data/2019/combine19.csv"
df = pd.read_csv(path)
df

,Hotel,Area,Room,Supply,Occupancy,ADR,Room_Revenue,F&B_Revenue,Total_Revenue,RevPAR,Demand,Date
0,雲品溫泉酒店⽇⽉潭,Scenery,211,6330,0.86,7598.00,41478188,24423793,70662485,6552.52,5459,2019-11-30
1,台北W飯店,Taipei,405,12555,0.85,8523.28,90466146,46597527,154895759,7205.59,10614,2019-07-31
2,麗尊⼤酒店,Kaohsiung,198,5940,0.61,2220.00,7979333,20053602,29231187,1343.32,3594,2019-11-30
3,⾼雄福華⼤飯店,Kaohsiung,271,8130,0.85,2228.00,15431079,25659627,45129470,1897.81,6925,2019-11-30
4,台糖長榮酒店(台南),Others,197,6107,0.86,2376.43,12093673,23669802,37708051,2046.31,5089,2019-12-31
...,...,...,...,...,...,...,...,...,...,...,...,...
1528,古華花園飯店,Taoyuan-Hsinchu-Miaoli,255,7905,0.89,2911.05,20496703,16685497,39107255,2592.88,7041,2019-10-31
1529,台中港酒店,Taichung,200,5600,0.54,3072.00,9293251,2314686,12590178,1659.49,3025,2019-02-28
1530,麒麟大飯店,Others,167,5177,0.23,4038.73,4737431,1430516,6405629,915.09,1173,2019-05-31
1531,華園大飯店,Kaohsiung,269,8339,0.71,1475.51,8763054,5315475,14840807,1050.85,5939,2019-10-31
1532,桃園喜來登酒店,Taoyuan-Hsinchu-Miaoli,187,5797,0.33,3726.68,7185030,5706505,14222012,1239.44,1928,2019-10-31

In [5]:
area_room = df.groupby(['Area','Date']).sum()['Room']
area_supply = df.groupby(['Area','Date']).sum()['Supply']
area_demand = df.groupby(['Area','Date']).sum()['Demand']
area_rmrev = df.groupby(['Area','Date']).sum()['Room_Revenue']
area_fbrev = df.groupby(['Area','Date']).sum()['F&B_Revenue']
area_ttlrev = df.groupby(['Area','Date']).sum()['Total_Revenue']

In [6]:
#Calculate Monthly Occupancy/ADR/RevPAR
area_occ = round((area_demand/area_supply),2)
area_adr = round((area_rmrev/area_demand), 2)
area_revpar = round((area_rmrev/area_supply), 2)

In [7]:
area_summary = pd.DataFrame({
    'Room': area_room,
    'Supply': area_supply,
    'Demand': area_demand,
    'Occupancy': area_occ,
    'ADR': area_adr,
    'RevPAR': area_revpar,
    'Room_Revenue': area_rmrev, 
    'F&B_Revenue': area_fbrev,
    'Total_Revenue': area_ttlrev  
})

area_summary

                     Room  Supply  Demand  Occupancy      ADR   RevPAR  \
Area    Date
Hualien 2019-01-31   1286   39866   16481       0.41  2395.71   990.41
        2019-02-28   1287   36036   17038       0.47  4066.67  1922.74
        2019-03-31   1286   39866   17599       0.44  2630.65  1161.31
        2019-04-30   1286   38580   20505       0.53  9001.20  4784.08
        2019-05-31   1286   39866   21223       0.53  2602.26  1385.34
...                   ...     ...     ...        ...      ...      ...
Total   2019-08-31  28838  893978  617355       0.69  3783.62  2612.86
        2019-09-30  28834  865020  521218       0.60  3646.54  2197.23
        2019-10-31  28669  888739  607664       0.68  3768.60  2576.73
        2019-11-30  28473  854190  625571       0.73  3774.54  2764.30
        2019-12-31  28367  879377  625571       0.71  3774.54  2685.13

                    Room_Revenue  F&B_Revenue  Total_Revenue
Area    Date
Hualien 2019-01-31      39483652     35525375       81968544
        2019-02-28      69287971     37428983      117989468
        2019-03-31      46296845     34053830       88415173
        2019-04-30     184569625     36275692      230796216
        2019-05-31      55227792     40847051      105775171
...                          ...          ...            ...
Total   2019-08-31    2335836515   2046793219     4922540038
        2019-09-30    1900643990   2127943246     4610964630
        2019-10-31    2290039989   2155662722     5025593512
        2019-11-30    2361239677   2327790894     5309343261
        2019-12-31    2361239677   2327790894     5281911196

[96 rows x 9 columns]

In [8]:
df.loc[df['Hotel']=='福容大飯店 福隆']

,Hotel,Area,Room,Supply,Occupancy,ADR,Room_Revenue,F&B_Revenue,Total_Revenue,RevPAR,Demand,Date
162,福容大飯店 福隆,Scenery,174,5394,0.32,4742.53,8176130,5270154,13818117,1515.78,1724,2019-10-31
318,福容大飯店 福隆,Scenery,174,5220,0.35,5221.03,9653688,5911066,15871174,1849.37,1849,2019-09-30
470,福容大飯店 福隆,Scenery,174,5220,0.49,4837.63,12360147,6863428,20045694,2367.84,2555,2019-06-30
991,福容大飯店 福隆,Scenery,174,5394,0.31,3591.86,5869102,4612819,10638062,1124.35,1634,2019-12-31
1052,福容大飯店 福隆,Scenery,174,5394,0.37,4945.31,9801606,7232569,17597806,1817.13,1982,2019-05-31
1199,福容大飯店 福隆,Scenery,174,5394,0.54,5377.64,15756479,9944081,26360391,2921.11,2930,2019-08-31
1364,福容大飯店 福隆,Scenery,174,5394,0.62,5619.36,18746173,9864354,29487384,3475.38,3336,2019-07-31

In [9]:
print(df.dtypes)

Hotel             object
Area              object
Room               int64
Supply             int64
Occupancy        float64
ADR              float64
Room_Revenue       int64
F&B_Revenue        int64
Total_Revenue      int64
RevPAR           float64
Demand             int64
Date              object
dtype: object

In [10]:
df['Date'] = pd.to_datetime(df['Date']).dt.to_period('M')

In [11]:
df['Date'] = df['Date'].dt.to_timestamp()

In [12]:
print(df.dtypes)

Hotel                    object
Area                     object
Room                      int64
Supply                    int64
Occupancy               float64
ADR                     float64
Room_Revenue              int64
F&B_Revenue               int64
Total_Revenue             int64
RevPAR                  float64
Demand                    int64
Date             datetime64[ns]
dtype: object

In [13]:
df

,Hotel,Area,Room,Supply,Occupancy,ADR,Room_Revenue,F&B_Revenue,Total_Revenue,RevPAR,Demand,Date
0,雲品溫泉酒店⽇⽉潭,Scenery,211,6330,0.86,7598.00,41478188,24423793,70662485,6552.52,5459,2019-11-01
1,台北W飯店,Taipei,405,12555,0.85,8523.28,90466146,46597527,154895759,7205.59,10614,2019-07-01
2,麗尊⼤酒店,Kaohsiung,198,5940,0.61,2220.00,7979333,20053602,29231187,1343.32,3594,2019-11-01
3,⾼雄福華⼤飯店,Kaohsiung,271,8130,0.85,2228.00,15431079,25659627,45129470,1897.81,6925,2019-11-01
4,台糖長榮酒店(台南),Others,197,6107,0.86,2376.43,12093673,23669802,37708051,2046.31,5089,2019-12-01
...,...,...,...,...,...,...,...,...,...,...,...,...
1528,古華花園飯店,Taoyuan-Hsinchu-Miaoli,255,7905,0.89,2911.05,20496703,16685497,39107255,2592.88,7041,2019-10-01
1529,台中港酒店,Taichung,200,5600,0.54,3072.00,9293251,2314686,12590178,1659.49,3025,2019-02-01
1530,麒麟大飯店,Others,167,5177,0.23,4038.73,4737431,1430516,6405629,915.09,1173,2019-05-01
1531,華園大飯店,Kaohsiung,269,8339,0.71,1475.51,8763054,5315475,14840807,1050.85,5939,2019-10-01
1532,桃園喜來登酒店,Taoyuan-Hsinchu-Miaoli,187,5797,0.33,3726.68,7185030,5706505,14222012,1239.44,1928,2019-10-01

In [15]:
df.to_csv(r'..\static\data\2019\combine19_update_2.csv', index = False, encoding='utf-8-sig')

In [16]:
area_summary.to_csv(r'..\static\data\2019\area19.csv', index = True, encoding='utf-8-sig')