In [13]:
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt

In [14]:
#Read the ods File
path = "static/data/2020/combine20.csv"
df = pd.read_csv(path)
df

,Hotel,Area,Room,Supply,Occupancy,ADR,Room_Revenue,F&B_Revenue,Total_Revenue,RevPAR,Demand,Date
0,板橋凱撒⼤飯店,Others,400,12400,0.26,2441.00,7871732,7571504,33113627,634.90,3225,2020-05-31
1,遠百企業觀光旅館,Others,40,1240,0.05,1000.00,56000,0,56000,45.20,56,2020-03-31
2,華泰王子大飯店,Taipei,203,6293,0.24,1574.11,2424132,9573957,14335727,385.21,1540,2020-10-31
3,國賓⼤飯店,Taipei,422,12238,0.37,3374.00,15470969,50228203,70427005,1264.24,4586,2020-02-29
4,福容⼤飯店桃園,Taoyuan-Hsinchu-Miaoli,182,5278,0.21,2202.00,2477436,1903400,4648477,469.25,1125,2020-02-29
...,...,...,...,...,...,...,...,...,...,...,...,...
1493,六福客棧,Taipei,230,7130,0.34,1194.99,2920559,0,3286209,409.62,2444,2020-10-31
1494,三德⼤飯店,Taipei,287,8897,0.29,2295.00,5836843,427245,7273263,655.91,2543,2020-01-31
1495,寒舍艾麗酒店,Taipei,235,7285,0.61,3378.81,14907311,10469779,28307881,2046.30,4412,2020-07-31
1496,鈺通⼤飯店,Others,120,3720,0.06,2022.00,475066,2586824,3078328,127.79,235,2020-03-31
1497,涵碧樓⼤飯店,Scenery,96,2976,0.57,13336.00,22457374,2592548,28119523,7546.84,1684,2020-05-31

In [18]:
area_room = df.groupby(['Area','Date']).sum()['Room']
area_supply = df.groupby(['Area','Date']).sum()['Supply']
area_demand = df.groupby(['Area','Date']).sum()['Demand']
area_rmrev = df.groupby(['Area','Date']).sum()['Room_Revenue']
area_fbrev = df.groupby(['Area','Date']).sum()['F&B_Revenue']
area_ttlrev = df.groupby(['Area','Date']).sum()['Total_Revenue']

In [20]:
#Calculate Monthly Occupancy/ADR/RevPAR
area_occ = round((area_demand/area_supply),2)
area_adr = round((area_rmrev/area_demand), 2)
area_revpar = round((area_rmrev/area_supply), 2)

Area     Date
Hualien  2020-01-31    2150.62
         2020-02-29    1426.13
         2020-03-31     752.15
         2020-04-30     854.34
         2020-05-31    1198.78
                        ...
Total    2020-08-31    1946.43
         2020-09-30    1537.40
         2020-10-31    1834.31
         2020-11-30    1487.85
         2020-12-31    1687.56
Length: 96, dtype: float64

In [34]:
area_summary = pd.DataFrame({
    'Room': area_room,
    'Supply': area_supply,
    'Demand': area_demand,
    'Occupancy': area_occ,
    'ADR': area_adr,
    'RevPAR': area_revpar,
    'Room_Revenue': area_rmrev, 
    'F&B_Revenue': area_fbrev,
    'Total_Revenue': area_ttlrev  
})

area_summary

                     Room  Supply  Demand  Occupancy      ADR   RevPAR  \
Area    Date
Hualien 2020-01-31   1286   39866   20761       0.52  4129.70  2150.62
        2020-02-29   1286   37294   15833       0.42  3359.19  1426.13
        2020-03-31   1286   39866   11162       0.28  2686.37   752.15
        2020-04-30   1286   38580   11334       0.29  2908.11   854.34
        2020-05-31   1286   39866   19633       0.49  2434.19  1198.78
...                   ...     ...     ...        ...      ...      ...
Total   2020-08-31  27974  867194  455162       0.52  3708.43  1946.43
        2020-09-30  27977  839310  393212       0.47  3281.58  1537.40
        2020-10-31  27962  866822  447836       0.52  3550.45  1834.31
        2020-11-30  27968  839040  359401       0.43  3473.46  1487.85
        2020-12-31  27925  865675  391179       0.45  3734.55  1687.56

                    Room_Revenue  F&B_Revenue  Total_Revenue
Area    Date
Hualien 2020-01-31      85736711     57657892      157866836
        2020-02-29      53185992     29065678       92421510
        2020-03-31      29985301     18765341       55290111
        2020-04-30      32960575     16172167       55769274
        2020-05-31      47790479     29761842       86785896
...                          ...          ...            ...
Total   2020-08-31    1687935933   2002761137     4226203338
        2020-09-30    1290354867   1983183003     3749750410
        2020-10-31    1590018735   2098826841     4166579142
        2020-11-30    1248364252   1920506705     3591135543
        2020-12-31    1460876555   2310227260     4254115135

[96 rows x 9 columns]

In [3]:
df.loc[df['Hotel']=='福容大飯店 福隆']

,Hotel,Area,Room,Supply,Occupancy,ADR,Room_Revenue,F&B_Revenue,Total_Revenue,RevPAR,Demand,Date
156,福容大飯店 福隆,Scenery,174,5220,0.31,3823.52,6236155,5867368,12253093,1194.67,1631,2020-11-30
468,福容大飯店 福隆,Scenery,174,5220,0.52,3733.85,10223274,7651390,18035452,1958.48,2738,2020-09-30
470,福容大飯店 福隆,Scenery,174,5394,0.63,5318.72,18078333,9258049,28299517,3351.56,3399,2020-08-31
486,福容大飯店 福隆,Scenery,174,5394,0.65,4581.12,16052260,9263608,25920136,2975.95,3504,2020-07-31
972,福容大飯店 福隆,Scenery,174,5394,0.23,4300.16,5250500,3539079,9001883,973.40,1221,2020-12-31
1001,福容大飯店 福隆,Scenery,174,5394,0.55,4041.94,11980298,7415157,22303813,2221.04,2964,2020-10-31

In [4]:
print(df.dtypes)

Hotel             object
Area              object
Room               int64
Supply             int64
Occupancy        float64
ADR              float64
Room_Revenue       int64
F&B_Revenue        int64
Total_Revenue      int64
RevPAR           float64
Demand             int64
Date              object
dtype: object

In [5]:
df['Date'] = pd.to_datetime(df['Date']).dt.to_period('M')

In [6]:
df['Date'] = df['Date'].dt.to_timestamp()

In [7]:
print(df.dtypes)

Hotel                    object
Area                     object
Room                      int64
Supply                    int64
Occupancy               float64
ADR                     float64
Room_Revenue              int64
F&B_Revenue               int64
Total_Revenue             int64
RevPAR                  float64
Demand                    int64
Date             datetime64[ns]
dtype: object

In [8]:
df

,Hotel,Area,Room,Supply,Occupancy,ADR,Room_Revenue,F&B_Revenue,Total_Revenue,RevPAR,Demand,Date
0,板橋凱撒⼤飯店,Others,400,12400,0.26,2441.00,7871732,7571504,33113627,634.90,3225,2020-05-01
1,遠百企業觀光旅館,Others,40,1240,0.05,1000.00,56000,0,56000,45.20,56,2020-03-01
2,華泰王子大飯店,Taipei,203,6293,0.24,1574.11,2424132,9573957,14335727,385.21,1540,2020-10-01
3,國賓⼤飯店,Taipei,422,12238,0.37,3374.00,15470969,50228203,70427005,1264.24,4586,2020-02-01
4,福容⼤飯店桃園,Taoyuan-Hsinchu-Miaoli,182,5278,0.21,2202.00,2477436,1903400,4648477,469.25,1125,2020-02-01
...,...,...,...,...,...,...,...,...,...,...,...,...
1493,六福客棧,Taipei,230,7130,0.34,1194.99,2920559,0,3286209,409.62,2444,2020-10-01
1494,三德⼤飯店,Taipei,287,8897,0.29,2295.00,5836843,427245,7273263,655.91,2543,2020-01-01
1495,寒舍艾麗酒店,Taipei,235,7285,0.61,3378.81,14907311,10469779,28307881,2046.30,4412,2020-07-01
1496,鈺通⼤飯店,Others,120,3720,0.06,2022.00,475066,2586824,3078328,127.79,235,2020-03-01
1497,涵碧樓⼤飯店,Scenery,96,2976,0.57,13336.00,22457374,2592548,28119523,7546.84,1684,2020-05-01

In [9]:
df.to_csv(r'.\static\data\2020\combine20_update_2.csv', index = False, encoding='utf-8-sig')

In [36]:
area_summary.to_csv(r'.\static\data\2020\area20.csv', index = True, encoding='utf-8-sig')